* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:   rgb(232,184,170);
    transition: 1s ease;
}

h1 {
    border: 1px solid black;
    border-radius: 10px;
    width: 250px;
    font-size: 50px;
    font-variant: small-caps;
    margin: 20px auto 20px;
    text-align: center;
    opacity: 0;
    position: relative;
    transition: .5s ease-in;
}

.img-container {
    background-color: black;
    margin: auto;
    width: 710px;
    height: 525px;
    box-sizing: border-box;
    box-shadow: 0 0 5px black;
    display: flex;
    position: relative;
    overflow: hidden;
    filter: brightness(0);
    animation: myAnimation3 3s forwards;
}

.img-container img, .thumb img {
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
}

.img-container img {
    width: 350px;
    height: 525px;
}

.detail {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.404);
    width: 350px;
    height: 28px; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: rgb(232,184,170);
}

.thumb {
    display: flex;
    flex-wrap: wrap;
}

.thumb img {
    width: 180px;
    height: 262.5px;
}

.thumb img:hover {
    opacity: .5;
    cursor: pointer;
    transition: .3s ease;
}

@keyframes myAnimation {
    100% {
        opacity: 1;
    }
}

@keyframes myAnimation3 {
    0% {
        transform: scale(0,0);
    }
    5% {
        transform: scale(0.2%,0.2%);
    }
    50% {
        transform: scale(100%,0.2%);
        filter: brightness(0);
    }
    100% {
        filter: brightness(100%);
        transform: scale(100%,100%);
    }
}


.anima {
    opacity: 0;
    animation: myAnimation 1s forwards;
}
